---
---
@font-face {
    font-family: OpenSans;
    src: url("{{ "/fonts/OpenSans-Light.ttf" | relative_url }} ")
}

html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
    font-family: 'OpenSans';
}

.section a {
    color: #FF6309;
    font-weight: bold;
}

a:hover {
    color: #FF6309;
}

a.active {
    color: #FF6309;
}

.menu_bar {
    background-color: white;
    padding: 1cm;
    bottom: 0px;
}

.menu_bar a {
    text-transform: uppercase;
}

.right {
    position: absolute;
    right: 0px;
    padding-right: 2px;
}

.image_container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.image_liner {
    padding-bottom: 60%;
}

.image_container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    font-family: 'OpenSans';
}

.no-padding {
    padding: 0px;
}

.no-v-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.padded {
    padding: 1cm;
    padding-top: 0.5cm;
}

.no-pad-left {
    padding-left: 0px;
}

.no-pad-right {
    padding-right: 0px;
}

.no-break {
    display: inline-block;
}

.container {
    margin-bottom: -25px;
}

.footer {
    height: 25px;
}

.letter-spacing-05 {
    letter-spacing: -0.5px;
}

.letter-spacing-15 {
    letter-spacing: -1.5px;
}