.tab_content {
    /* margin: 1cm; */
    /* display: block   ; */
}

/* .fullpage {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
} */

/* .section {
    min-height: 100%;
    display: flex;
} */

header {
    /* position: relative; */
}