---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
{% include head.html %}

<body>
    <!-- {% include header.html %} -->
    {% include js_files.html %}


    <div id="fullpage">
        {% for tab in site.ca %}
        {% capture id %}{{ tab.id | remove:'/' | remove:'tabs' | downcase }}{% endcapture %}
        <div class="section tab-base {{tab.class}}">
            <div>
                <h1>{{tab.title}}</h1>
                {{ tab.content }}
                <img src={{tab.picture}}/>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>