<span class="menu_bar">
    <div class="right">
        {% for lang in site.collections %}
        {% if lang.label != "posts"%}
        <a class="{% if lang.label == include.language %}active{% endif %}"
            href="{{lang.label | relative_url}}">{{lang.label}}</a>
        {% endif %}
        {% endfor %}
    </div>
    <div id="section_menu">
        {% for tab in include.content %}
        {% if tab.menu %}
        <a href="#{{tab.title}}" data-menuanchor="{{tab.title}}">{{tab.title}}</a>
        {% endif %}
        {% endfor %}
    </div>
</span>