{% if page.collection == "ca" %}
<h4 class="letter-spacing-05">traductor editorial i jurat</h4>
{% elsif page.collection == "de" %}
<h4 class="letter-spacing-05">beglaubigter Übersetzer</h4>
{% elsif page.collection == "en" %}
<h4 class="letter-spacing-05">literary translator</h4>
{% elsif page.collection == "es" %}
<h4 class="letter-spacing-05">traductor editorial y jurado</h4>
{% elsif page.collection == "fr" %}
<h4 class="letter-spacing-05">traducteur littéraire</h4>
{% elsif page.collection == "yi" %}
<h4 class="letter-spacing-05">ליטעראַרישער איבערזעצער</h4>
{% endif %}
