---
menu: false
title: index
---
{% include info_template_start.html content=site.ca language='ca' %}
La legislació en matèria de drets d’autor protegeix aquest lloc web i els seus continguts. Joan Ferrarons i Llagostera n’és el titular i se’n reserva tots els drets que la llei permeti.

La tipografia emprada en aquest web, distribuïda sota llicència lliure, és DejaVu Sans.

Els continguts d’aquest web s’ofereixen en bona fe i amb l’única finalitat d’informar el públic. El web pot contenir imprecisions o errors, respecte als quals el titular exclou explícitament qualsevol mena de responsabilitat en la mesura que la llei ho permeti.

En aquest web hi figuren a més enllaços a d’altres webs. Aquests enllaços només es proporcionen per a facilitar l’accés del públic a continguts de tercers. Atès que el titular no té cap control sobre aquests continguts, tampoc n’assumeix cap mena de responsabilitat.
{% include info_template_end.html language='ca' %}