<!DOCTYPE html>
<html dir="ltr" lang="{{include.language}}">

{% include head.html %}

<body>
    {% include js_files.html %}
    <div class="container full-height">
        {% include desktop_header.html %}
        <div class="row section">
            {% if page.picture == nil%}
                {{content}} 
            {% else %}
                <div class="col-sm-4 no-padding">
                    <div class="image_container">
                        <img src="{{ page.picture | relative_url }}" class="img_content"/>
                    </div>
                </div>
                <div class="col-sm-8">
                    {{content}} 
                </div>
            {% endif %}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>