---
menu: false
title: index
---
{% include info_template_start.html content=site.en language='en' %}
This website and its content are copyright-protected. All rights are reserved by its owner Joan Ferrarons i Llagostera.

The font used for this website is DejaVu Sans and is distributed under a free license.

The content of this website’s pages is for your general information and use only. It may contain inaccuracies or errors and we expressly exclude hereby liability for any such inaccuracies or errors to the fullest extent permitted by law.

This website also includes links to other websites. These links are provided for your convenience to provide further information. We have no control over the nature, content and availability of those sites. Therefore, we take no responsibility for, nor will be liable for, the content of those sites.
{% include info_template_end.html language='en' %}